@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-white text-slate-900 antialiased;
  }
}
